# Frontend
/frontend/.env
/frontend/.env.production
/frontend/build
/frontend/node_modules
/frontend/public/firebase-messaging-sw.js

# Backend
/backend/.env
/backend/node_modules
/backend/utils/fcm_account.json
