# Frontend
/frontend/.env
/frontend/.env.production
/frontend/build
/frontend/node_modules
/frontend/public/firebase-messaging-sw.js

# Backend
/backend/nodejs/.env
/backend/node_modules
/backend/nodejs/node_modules
/backend/nodejs/utils/fcm_account.json

# Deploy
deploy.sh

# Credentials
.git-credentials