@font-face {
  font-family: "NN Light";
  src: url(fonts/NanumSquareNeo-aLt.ttf);
}
@font-face {
  font-family: "NN Regular";
  src: url(fonts/NanumSquareNeo-bRg.ttf);
}
@font-face {
  font-family: "NN Bold";
  src: url(fonts/NanumSquareNeo-cBd.ttf);
}
@font-face {
  font-family: "NN Extra Bold";
  src: url(fonts/NanumSquareNeo-dEb.ttf);
}
@font-face {
  font-family: "NN Heavy";
  src: url(fonts/NanumSquareNeo-eHv.ttf);
}
* {
  box-sizing: border-box;
  font-family: "NN Bold";
  color: #000;
}
body {
  margin: 0;
}

input,
button {
  background-color: #fff;
}

/* Reset */
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1, h2 {margin: 0;}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}