.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 8px;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.header nav {
  display: flex;
  gap: 8px;
}
.header nav a {
  padding: 4px;
  border: 2px solid #000;
}

.on {
  color: #fff;
  background-color: #000;
}
