<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wildsoft.projects.shop.project.shop.ShopDao">
  <!-- 상품 -->
  <select id="getProductList"
    parameterType="com.wildsoft.projects.shop.project.shop.ProductVO"
    resultType="com.wildsoft.projects.shop.project.shop.ProductVO">
    <![CDATA[
      select rnum, q.*
      from (
        select
          row_number() over (order by product_id desc) as rnum,
          k.*
        from (
          select * from products where 1=1
    ]]>
    <if test="search_type == 'product_name'">
    <![CDATA[
          and product_name like concat('%', #{search_value}, '%')
    ]]>
    </if>
    <if test="search_type == 'category'">
    <![CDATA[
          and category like concat('%', #{category}, '%')
    ]]>
    </if>
    <if test="search_type == 'created_at'">
    <![CDATA[
          and created_at like concat('%', #{created_at}, '%')
    ]]>
    </if>
    <![CDATA[
        ) k
      ) q
      where rnum between #{start} and #{end}
    ]]>
  </select>

  <select id="getProductOne"
    parameterType="com.wildsoft.projects.shop.project.shop.ProductVO"
    resultType="com.wildsoft.projects.shop.project.shop.ProductVO">
    select * from products where product_id=#{product_id}
  </select>

  <insert id="insertProduct"
    parameterType="com.wildsoft.projects.shop.project.shop.ProductVO">
    insert into products (product_name, product_description, product_price, category, stock_quantity)
    values (#{product_name}, #{product_description}, #{product_price}, #{category}, #{stock_quantity})
  </insert>

  <update id="updateProduct"
    parameterType="com.wildsoft.projects.shop.project.shop.ProductVO">
    update products set product_name=#{product_name}, product_description=#{product_description},
    product_price=#{product_price}, category=#{category}, stock_quantity=#{stock_quantity}
    where product_id=#{product_id}
  </update>

  <delete id="deleteProduct"
    parameterType="com.wildsoft.projects.shop.project.shop.ProductVO">
    delete from products where product_id=#{product_id}
  </delete>

  <!-- 장바구니 -->
  <select id="getCartList"
    parameterType="com.wildsoft.projects.shop.project.shop.CartVO"
    resultType="com.wildsoft.projects.shop.project.shop.CartVO">
    <![CDATA[
      select * from carts where id=#{id} order by cart_id desc;
    ]]>
  </select>

  <select id="getCartOne"
    parameterType="com.wildsoft.projects.shop.project.shop.CartVO"
    resultType="com.wildsoft.projects.shop.project.shop.CartVO">
    select * from carts where cart_id=#{cart_id}
  </select>

  <!-- id와 product_id로 기존 레코드를 조회하는 쿼리 -->
  <select id="getCartsByIdAndProductId" 
    parameterType="com.wildsoft.projects.shop.project.shop.CartVO" 
    resultType="com.wildsoft.projects.shop.project.shop.CartVO">
    select * from carts
    where id = #{id} and product_id = #{product_id}
  </select>

  <insert id="insertCart"
    parameterType="com.wildsoft.projects.shop.project.shop.CartVO">
    insert into carts (id, product_id, product_price, quantity)
    values (#{id}, #{product_id}, #{product_price}, #{quantity})
  </insert>

  <update id="updateCart"
    parameterType="com.wildsoft.projects.shop.project.shop.CartVO">
    update carts set product_price = product_price + #{product_price}, 
    quantity = quantity + #{quantity}
    where id=#{id} and product_id=#{product_id}
  </update>

  <delete id="deleteCart"
    parameterType="com.wildsoft.projects.shop.project.shop.CartVO">
    delete from carts where cart_id=#{cart_id}
  </delete>

  <delete id="deleteAllCart"
    parameterType="com.wildsoft.projects.shop.project.shop.CartVO">
    delete from carts where id=#{id}
  </delete>
</mapper>
